<div class="container" style="background:rgb(0, 78, 78);color:yellow">
  
  <div style="padding:0.5rem">
    <label>
      Enter your food:
    </label>
    <button class="btn" (click)="getFood()">Search</button>
    <input type="text" placeholder="find my food..." [(ngModel)]="searchItem">
  </div>
  
  <div class="row" *ngIf="currentFood!=null">
    
    <div class="col-s-2">
      <h3>{{ currentFood.foods[0].food_name }}</h3>
      <img src="{{ currentFood.foods[0].photo.highres }}" width="40%" height="40%" />
    </div>

    <div class="col-s-2" style="text-align:left">
      <div>Servings: {{ currentFood.foods[0].serving_qty }}</div>
      <div>Quantity Per: {{ currentFood.foods[0].serving_unit }}</div>
      <div>Calories: {{ currentFood.foods[0].nf_calories }}</div>
      <div>Protein: {{ currentFood.foods[0].nf_protein }}</div>
      <div>Fat: {{ currentFood.foods[0].nf_total_fat }}</div>
      <div>Saturated Fat: {{ currentFood.foods[0].nf_saturated_fat }}</div>
      <div>Sodium: {{ currentFood.foods[0].nf_sodium }}</div>
      <div>Carbodydrates: {{ currentFood.foods[0].nf_total_carbohydrate }}</div>
      <div>Sugar: {{ currentFood.foods[0].nf_sugars }}</div>
    </div>

  </div>

</div>