/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("https://i.imgur.com/xtXFmij.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

@font-face { 
    font-family: "Beyond the Mountains" !important;
    src: url("assets/fonts/beyond_the_mountains.otf") format('otf'),
            url("assets/fonts/beyond_the_mountains.ttf") format('ttf'); 

}