<div class="flex-container">
    <div class="jumbotron">
    
    <div class="img text-center"><img src="https://i.imgur.com/2IHmFYY.png?1"></div>    

      <h1 class="text-center">Menu</h1>     
        
        <div class="btn-group-horizontal">                           
                <!-- <button type="button" class="btn btn-success" id="addmeals" (click)="addMeals()">Add Meals</button> -->
                <button type="button" class="btn btn-success" id="foodsearch" (click)="foodSearch()">Search Food</button>                         
                <!-- <button type="submit" class="btn btn-success" id="summary" (click)="summary()">Summary</button>    -->
                <button type="submit" class="btn btn-success" id="graphs" (click)="graphs()">Graphs</button>
            
        </div>
    </div>  
</div>
