img {
    width: 200px;
   
    margin-bottom: 2rem;
}

#pwd {
    width: 50%;
    margin-left: 2rem;    
}

#email {
    width: 50%;
    margin-left: 2rem;    
}

label {
    font-family: fantasy;
    font-size: 20px;
    letter-spacing: 2px;
    text-shadow: 4px 4px 2px rgb(29, 28, 28);
}

.container {
    color: yellow;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10rem;
}

.jumbotron {
    background-color: darkslategray;
    width: 75%;
    margin-top: 4rem;
    border-radius: 2rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

form {
    
    text-align: justify;
}

h2 {
    
    font-family: fantasy;
   -webkit-text-fill-color: rgba(241, 238, 8, 0.911);
   text-shadow: 4px 4px 2px rgb(29, 28, 28);
    
}

button {
    width: 10rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    color: yellow;
    font-weight: bolder;
    font-size: 18px;
}





