
<div class="container text-center">
  <div class="jumbotron">
      <form class="form-horizontal">
        
        <div class="col-sm-offset-5">
        <div class="img"><img src="https://i.imgur.com/AHVOBEg.png"></div>
        </div>

        <div class="col-sm-offset-1">
        <h2 class="text-center">Calories Companion App</h2>
        <br>
        <br>
        </div>

        <div class="col-sm-offset-3">
          <div class="form-group">
            <label type="email" class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="email" name="user.userName" 
              placeholder="Enter Username" [(ngModel)]="user.userName"> <!-- username.userName -->
            </div>
          </div>
        </div>

        <div class="col-sm-offset-3">
          <div class="form-group">
            <label class="control-label col-sm-2" for="password" >Password:</label>
            <div class="col-sm-10"> 
              <input type="password" class="form-control" id="pwd" name="user.pw" 
              placeholder="Enter password" [(ngModel)]="user.pw">
            </div>
          </div>
        </div>

        <br>

        <div class="form-group align-center"> 
          <div class="col-sm-offset-6 col-sm-10">
            <button type="submit" class="btn btn-success" id="login" (click)="login()">Login</button>
          </div>
        </div>

      </form>

      <div *ngIf="!isValid" class="alert alert-danger" id="formError">
        Invalid Credentials! Try again later!
      </div>

  </div>
</div>